@media only screen and (min-width: 42.813rem) {
	nav ul li a {
		padding: 0.3rem 0.3rem;
	}

	.responsive li {
		display: block;
	}
}
/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	nav {
		width: 100%;
		display: flex;
	}

	nav li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	nav a {
		text-align: center;
	}
	.nav li:first-child {
		display: none;
	}
}
