:root {
	--paragraph-font: "Roboto", sans-serif;
	--headings-font: "Ubuntu", sans-serif;
	--header-nav-color: #38386d;
	--headings-color: #f24646;
	--backgroud-color-site: #f2f4f3;
	--footer-color: #5e503f;
}

body {
	background-color: var(--backgroud-color-site);
}

header {
	width: 100%;
	height: 9rem;
	display: flex;
}

nav {
	width: 100%;
	background-color: var(--header-nav-color);
}

nav ul {
	margin: 0;
}

.ham {
	text-align: center;
}

.navigation {
	list-style: none;
	padding: 0.8rem;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	font-family: var(--paragraph-font);
	margin: 0 1.2rem;
	text-decoration: none;
	color: white;
	transition: 0.5s;
}

nav .active {
	background-color: #282856;
}

.navigation a:hover {
	color: var(--headings-color);
	background-color: #282856;
}

.responsive a {
	text-align: center;
	padding: 0.6rem 0;
}

.responsive li {
	display: block;
}

h1,
h2,
h3 {
	font-family: var(--headings-font);
	text-align: center;
}

h1 {
	text-align: center;
	color: var(--header-nav-color);
	font-size: 1.75rem;
}

.logo-container {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	margin: 0 auto;
}

figure {
	width: 250px;
	height: 250px;
	padding: 0;
	margin: 0;
}

img {
	width: 11.5em;
	align-items: center;
}

.slogan-contaier p {
	font-family: var(--paragraph-font);
}

.slogan {
	font-family: var(--paragraph-font);
	font-size: 13px;
}

.slider-container {
	display: grid;
	height: 22rem;
	width: 100%;
	justify-items: center;
	align-content: center;
	align-items: center;
}

.slider-container img {
	display: block;
	width: 80%;
	margin: 0 auto;
	height: 18rem;
	object-fit: cover;
}

.slider-container h2 {
	text-align: center;
	font-size: 1.8em;
	color: rgba(56, 56, 109, 1);
}

.site-description {
	padding: 1rem;
	margin: 1.2rem auto;
}

.site-description h2 {
	text-align: center;
	color: var(--headings-color);
}

.article {
	max-width: 47.5rem;
	background-color: #e6e7ff;
}

.article span {
	font-family: var(--paragraph-font);
	border-bottom: 1px solid var(--header-nav-color);
}

.article .article-speach figure {
	display: block;
	width: 19rem;
	float: left;
	padding: 1rem;
	margin: 28px 0px 10px -30px;
}

.article .article-speach figure figcaption {
	text-align: center;
	font-family: var(--paragraph-font);
	font-size: 14px;
}

.article .article-speach .prestonImg {
	height: 200px;
}
.article .article-speach .prestonImg img {
	height: 200px;
}

.article .article-speach a {
	margin-left: 2rem;
	font-family: var(--paragraph-font);
	text-decoration: none;
	color: #1d4e89;
	font-style: italic;
}

.article-speach img {
	display: block;
	width: 100%;
	padding: 0.5rem;
}

.article-speach p {
	padding: 0.5rem;
	line-height: 1.5em;
	text-align: justify;
}

.fas,
.fas,
.fas {
	margin: 0.5rem;
}

.social-media-icons {
	width: 15.625rem;
}

.social-media-icons .fab,
.fab,
.fab {
	font-size: 1.5rem;
	display: inline-block;
	padding: 1.5rem;
}

.site-description article p {
	font-size: 1.125rem;
	font-family: var(--paragraph-font);
}

.forecast {
	display: block;
	max-width: 70%;
	height: 15.625rem;
	margin: 1.8rem auto;
	background-color: #e6e7ff;
}

.contac-info {
	height: 22em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #e6e7ff;
	max-width: 75%;
	margin-bottom: 1.5rem;
}

.contac-info h2 {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: absolute;
}
.contac-info figure {
	width: 50%;
	height: 19rem;

	padding: 0;
}

.contac-info figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 2.8rem 0rem 0rem 0rem;
}

.contac-info .social-media {
	display: flex;
	flex-direction: column;
}

.contac-info .social-media h3 {
	text-align: center;
}

.contac-info .social-media span {
	text-align: left;
	padding: 0.8rem 0;
	font-family: var(--paragraph-font);
}

/* Summary-weather section */
/* ------------------------ */
.summary-weather {
	position: absolute;
	width: 14rem;
	background-color: rgba(171, 199, 219, 0.9) /* rgba(242, 244, 243, 0.6)*/;
	margin-top: 4rem;
}

.summary-weather h3 {
	text-align: center;
	font-family: var(--headings-font);
	text-decoration: underline;

	color: #00006f;
}

.summary-weather img#currentImg,
img#SodImg,
img#fishIcon {
	display: block;
	width: 6rem;
	height: 5rem;
	margin: 0 auto;
}

.summary-weather ul {
	padding: 0;
}
.summary-weather li {
	text-align: center;
	font-family: var(--paragraph-font);
	list-style-type: none;
}

.summary-weather span {
	color: #1d4e89 /*var(--headings-color)*/;
	padding: 0 0.8rem;
	font-weight: bold;
}

/* ----------------------- */

/*--row-flex--**/

div.rows-flex {
	width: 100%;
	margin: 0.5rem auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: auto;
}

div.rows-flex article {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	background-color: #e6e7ff;
	padding: 0.75rem;
	border-radius: 0.5rem;
	margin: 0 1rem;
}

article.fish-info {
	width: auto;
}

div.rows-flex h2 {
	text-align: center;
}

div.rows-flex div.data-1,
div.data-2,
div.data-3 {
	display: flex;
	flex-direction: column;
	font-family: var(--paragraph-font);
	text-align: center;
}

div.rows-flex article h3 {
	font-size: 1.4rem;
	margin: 0 0 5px 0;
}

div.rows-flex span:nth-of-type(1) {
	font-style: italic;
	font-weight: bold;
}
div.rows-flex span:nth-of-type(1n + 2) {
	margin: 0.7rem;
}

div.rows-flex img {
	border-radius: 0.5rem;
	width: 19rem;
	height: auto;
	padding: 0.5rem;
}

div.rows-flex div.data-1,
div.data-2,
div.data-3 {
	text-align: center;
}

/*---grid table responsive-----*/

/*--- Events Section ----*/
.events-container {
	background-color: #414550;
	width: 19rem;
	height: 12rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.events-container div {
	width: 18rem;
	background-color: #dbe4eb;
	text-align: center;
}

.events-container div h2 {
	text-decoration: underline #d59571;
}

.events-container div h2,
.data1,
.data2,
.data3,
.data4 {
	font-family: "Raleway", sans-serif;
}

.fish-content {
	height: 14rem;
}
/*--- Events Section ----*/

/* Grid */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	border: 1px solid var(--header-nav-color);
}

.grid-col {
	border-left: 1px solid var(--header-nav-color);
	text-align: center;
	background-color: var(--backgroud-color-site);
}

.grid-col img {
	width: 40%;
	border-radius: 100px;
	padding: 0.25rem;
}

.col-head {
	font-weight: 700;
	font-size: 1rem;
	background-color: var(--header-nav-color);
	color: white;
}

.col-head {
	font-family: var(--headings-font);
	display: block;
	padding: 5px;
	border-bottom: 1px solid var(--header-nav-color);
	text-align: center;
}

.data {
	font-family: var(--paragraph-font);
	display: block;
	padding: 0 5px 5px;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	color: #1d4e89;
}

/*--- grid table responsive----- */

footer {
	font-size: 1.2rem;
	background-color: var(--footer-color);
	font-family: var(--paragraph-font);
	width: 100%;
	height: 30vh;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

footer #lastModify {
	margin: 0.8rem auto;
}

footer div.reference,
a {
	color: #fff;
}

.copyright a {
	color: var(--headings-color);
	color: white;
}

.copyright span,
#date {
	color: white;
}

/*---------------------------------*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (max-width: 20rem) {
	footer {
		height: 40vh;
	}
}
